@import './variables';

.hero-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.hero-canvas {
  display: block;
  width: 100%;
  height: 100%;
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: $text-color;
  padding: 0 1rem;
}

.hero-content h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
  color: $text-color;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.hero-content p {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.hero-icons {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.hero-icons a {
  color: $icon-color;
  transition: color 0.3s;
  animation: icon-hover-reverse 0.3s forwards;
}

@keyframes icon-hover-animation {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(1.1);
    }
  }
  
  @keyframes icon-hover-reverse {
    from {
      transform: scale(1.1);
    }
    to {
      transform: scale(1);
    }
  }
  
  .hero-icons a:hover {
    color: $icon-hover-color;
    animation: icon-hover-animation 0.3s forwards;
  }
  

/* Responsive adjustments */
@media (max-width: 600px) {
  .hero-content h1 {
    font-size: 2.5rem;
  }
  .hero-content p {
    font-size: 1rem;
  }
}